{% extends 'master.html.twig' %}
{#{% form_theme form 'bootstrap_4_layout.html.twig' %}#}

{% block head %} 

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Profil</h1>
            </div><!-- /.col -->
            <!--<div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Starter Page</li>
                </ol>
            </div>-->
            <!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock %}
{% block content %}


<div class="row">
    <div class="col-lg-6 offset-3">
        <div class="card card-primary card-outline">
            <div class="card-body">
                <div class="card-header">
                    <h5 class="m-0">Modification</h5>
                </div>
          {{ form_start(edit_form) }}
           {{ form_widget(edit_form) }}
                <button class="btn btn-success pull-right" type="submit"> Modifier  </button>
        {{ form_end(edit_form) }}


            </div>
        </div>
    </div>
</div>

{% endblock %}
