{% extends 'base.html.twig' %}

{% block body %}
    <h1>Typeclasses list</h1>

    <table>
        <thead>
            <tr>
                <th>Type de Classe</th>
                <th>Archiver</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typeClasse in typeClasses %}
            <tr>
                <td>{{ typeClasse.libelle }}</td>
                <td>{% if typeClasse.archiver %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('typeclasse_show', { 'id': typeClasse.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('typeclasse_edit', { 'id': typeClasse.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typeclasse_new') }}">Create a new typeClasse</a>
        </li>
    </ul>
{% endblock %}
