{% extends 'master.html.twig' %}
{% block head %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Professeur</h1>
                </div><!-- /.col -->
                <!--<div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Starter Page</li>
                    </ol>
                </div>-->
                <!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        Ajouter un nouveau professeur
                        <span class="pull-right">
                            <a href="{{ path('ecole_professeur_index') }}"><i class="fa fa-backward text-dark"></i></a>
                        </span>
                    </div>
                </div>
                <div class="card-body">

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-success pull-right" type="submit"> Ajouter  </button>
                    {{ form_end(form) }}

                </div>

            </div>
        </div>

    </div>
{% endblock %}

