{#<li class="nav-item">#}
    {#<a href="#" class="nav-link">#}
        {#<i class="nav-icon fa fa-dashboard"></i>#}
        {#<p>#}
            {#Tableau de bord#}
          {##}
        {#</p>#}
    {#</a>#}
{#</li>#}


<li class="nav-item">
    <a href="{{ path('ecole_index')}}" class="nav-link">
        <i class="fa fa-circle-o nav-icon"></i>
        <p>Liste des ecoles</p>
    </a>
</li>

 <li class="nav-item">
    <a href="{{ path('fos_user_security_logout') }}" class="nav-link">
        Deconnexion
    </a>
 </li>   

