
{% extends 'master.html.twig' %}
{% block head %} 

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Nouvelle année Académique</h1>
            </div><!-- /.col -->
            <!--<div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Starter Page</li>
                </ol>
            </div>-->
            <!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="card">
                    <div class="card-header">
                        {#<div class="row">#}
                            {#<h3 class="card-title">Data Table With Full Features</h3>#}
                            {#<a href="#modal" type="button" data-toggle="modal" id="new" class="btn-block ml-auto col-lg-2 btn-flat btn-primary">#}
                                {#Nouvelle année#}
                            {#</a>#}
                        {#</div>#}
                        <span  class="error"></span>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form action="{{ path('save') }}"  method="post" class="form">
                            <div class="row">

                                <div class="col-md-6">
                                    <label for="" class="">Debut :</label>
                                    <div class="">
                                        <input type="text"  name="debut" class= "form-control dba date"  required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="" class="">Fin :</label>
                                    <div class="">
                                        <input type="text" name="fin" class= "form-control dfa date"  required>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">

                                <div class="col-md-12">
                                    <label for="" class="">Type de periode :</label>
                                    <div class="">
                                        <select name="type" class= "form-control type" >

                                            <option value="0">Trimestre</option>
                                            <option value="1">Semestre</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="periodes">

                            </div>

                            <div class="row my-4">
                                <div class="col-lg-12 form-group d-flex justify-content-center">
                                    <p class="mx-1"><button type="button"  id="close" class="btn btn-default btn-sm tr_font" >Annuler</button></p>
                                    <p class="mx-1"><button type="submit" id="btn" class="btn btn-sm bg-success tr_font text-white" >valider</button></p>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>

    </section>


{% endblock %}

{% block js %}
    <script>
        $('.type').change(function () {
            periode(this);
        });
        $(document).ready(function () {
            periode('.type');
        });
        function periode(parm){

               type= $(parm).val();
               if(parseInt(type)===0){
                   $('#periodes').html(' <div class="col-lg-12">\n' +
                       '                                    <label for="" class="">Trimestre 1 :</label>\n' +
                       '                                </div>\n' +
                       '                               <div class="container-fluid row">\n' +
                       '                                   <div class="col-md-6">\n' +
                       '                                       <div class="">\n' +
                       '                                           <input type="text" name="debutT1" placeholder="date debut" class= "form-control  date" >\n' +
                       '                                       </div>\n' +
                       '                                   </div>\n' +
                       '                                   <div class="col-md-6">\n' +
                       '                                       <div class="">\n' +
                       '                                           <input type="text" name="finT1" placeholder="date fin" class= "form-control date" >\n' +
                       '                                       </div>\n' +
                       '                                   </div>\n' +
                       '                              </div>\n' +
                       '                                <div class="col-lg-12">\n' +
                       '                                    <label for="" class="">Trimestre 2 :</label>\n' +
                       '                                </div>\n' +
                       '                                <div class="container-fluid row">\n' +
                       '                                    <div class="col-md-6">\n' +
                       '                                        <div class="">\n' +
                       '                                            <input type="text" name="debutT2" placeholder="date debut" class= "form-control  date" required>\n' +
                       '                                        </div>\n' +
                       '                                    </div>\n' +
                       '                                    <div class="col-md-6">\n' +
                       '                                        <div class="">\n' +
                       '                                            <input type="text" name="finT2" placeholder="date fin" class= "form-control nom date" required>\n' +
                       '                                        </div>\n' +
                       '                                    </div>\n' +
                       '                                </div>\n' +
                       '                                <div class="col-lg-12">\n' +
                       '                                    <label for="" class="">Trimestre 3 :</label>\n' +
                       '                                </div>\n' +
                       '                                <div class="container-fluid row">\n' +
                       '                                    <div class="col-md-6">\n' +
                       '                                        <div class="">\n' +
                       '                                            <input type="text" name="debutT3" placeholder="date debut" class= "form-control nom date" required>\n' +
                       '                                        </div>\n' +
                       '                                    </div>\n' +
                       '                                    <div class="col-md-6">\n' +
                       '                                        <div class="">\n' +
                       '                                            <input type="text" name="finT3" placeholder="date fin" class= "form-control  date" required>\n' +
                       '                                        </div>\n' +
                       '                                    </div>\n' +
                       '                                </div>');

               }else{
                   $('#periodes').html('<div class="col-lg-12">\n' +
                       '                                    <label for="" class="">Semestre 1 :</label>\n' +
                       '                                </div>\n' +
                       '                                <div class="container-fluid row">\n' +
                       '                                    <div class="col-md-6">\n' +
                       '                                        <div class="">\n' +
                       '                                            <input type="text" name="debutS1" placeholder="date debut" class= "form-control  date" >\n' +
                       '                                        </div>\n' +
                       '                                    </div>\n' +
                       '                                    <div class="col-md-6">\n' +
                       '                                        <div class="">\n' +
                       '                                            <input type="text" name="finS1" placeholder="date fin" class= "form-control  date" >\n' +
                       '                                        </div>\n' +
                       '                                    </div>\n' +
                       '                                </div>\n' +
                       '                                <div class="col-lg-12">\n' +
                       '                                    <label for="" class="">Semestre 2 :</label>\n' +
                       '                                </div>\n' +
                       '                                <div class="container-fluid row">\n' +
                       '                                    <div class="col-md-6">\n' +
                       '                                        <div class="">\n' +
                       '                                            <input type="text" name="debutS2" placeholder="date debut" class= "form-control  date" >\n' +
                       '                                        </div>\n' +
                       '                                    </div>\n' +
                       '                                    <div class="col-md-6">\n' +
                       '                                        <div class="">\n' +
                       '                                            <input type="text" name="finS2" placeholder="date fin" class= "form-control date" >\n' +
                       '                                        </div>\n' +
                       '                                    </div>\n' +
                       '                                </div>\n' +
                       '                               ');

               }

        }
    </script>

    <script>
        $('.form').submit(function (e) {

            var debut=$('.dba').val().split("-");
            var fin=$('.dfa').val().split("-");
            if ( !verifyDateDebut(debut))
            {
                $('.dba').addClass('border-red');
                $('.dfa').addClass('border-red');
                e.preventDefault();

                // $('#projet').submit();
            }
            $('.dba').removeClass('border-red');
            $('.dfa').removeClass('border-red');
            // alert(verifyDateFin(debut,fin));
            if( !verifyDateFin(debut,fin)){
                e.preventDefault();
            }
        });
    </script>
{% endblock %}
