
{% extends 'master.html.twig' %}
{% block head %} 

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Modification de l'année Académique</h1>
            </div><!-- /.col -->
            <!--<div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Starter Page</li>
                </ol>
            </div>-->
            <!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <h3 class="card-title">Modification</h3>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form action="{{ path('type_edit',{'type':type.id}) }}"  method="post">
                            <div class="row">

                                <div class="col-md-12">
                                    <label for="" class="">Type Classe :</label>
                                    <div class="">
                                        <input type="text" value="{{type.libelle}}"  name="classe" class= "form-control " required>
                                    </div>
                                </div>

                            </div>


                            <div class="row my-4">
                                <div class="col-lg-12 form-group d-flex justify-content-center">
                                    <p class="mx-1"><button type="button"  id="close" class="btn btn-default btn-sm tr_font" >Annuler</button></p>
                                    <p class="mx-1"><button type="submit" id="btn" class="btn btn-sm bg-success tr_font text-white" >Sauvegarder</button></p>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>

    </section>


{% endblock %}

{% block js %}
    <script>


    </script>
{% endblock %}
